@import "mixin.scss";

h2 {
  font-size: 20px;
}
body {
  background-color: darkgray;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  .lista {
    @include GradiantBackground(rgb(53, 0, 128), rgb(168, 3, 168));
    border-radius: 15px;
    padding: 5px;

    .listan {
      padding: 0;
      padding-left: 5px;
      padding-right: 5px;
      margin: 0;
      list-style-type: none;
      min-width: 150px;
      min-height: 200px;
      color: white;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .deleteBtn {
          @include GradiantBackground(lightblue, rgb(195, 160, 228));
          border-radius: 45px;
        }
        .deleteBtn:hover {
          @include GradiantBackground(lightblue, rgb(135, 46, 219));
          cursor: pointer;
        }
      }

      li input[type="checkbox"]:checked + label {
        text-decoration: line-through;
        color: rgb(202, 202, 181);
      }
    }

    .add {
      justify-self: center;
      margin-bottom: 5px;
      button {
        color: white;
        @include GradiantBackground(rgb(151, 95, 230), rgb(158, 97, 158));
        border-radius: 90px;
      }
      button:hover {
        @include GradiantBackground(lightblue, rgb(135, 46, 219));
        cursor: pointer;
      }

      input {
        @include GradiantBackground(lightblue, rgb(195, 160, 228));
        border-radius: 10px;
      }
    }
  }
}
