@import "mixin.scss";

.main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  .lista {
    @include GradiantBackground(rgb(53, 0, 128), rgb(168, 3, 168));
    border-radius: 15px;
    ul {
      list-style-type: none;
      width: 200px;
      min-height: 200px;

      color: white;

      li input[type="checkbox"] {
        margin: 0 auto;
      }

      li input[type="checkbox"]:checked + label {
        text-decoration: line-through;
        color: rgb(202, 202, 181);
      }
    }
    .add {
      justify-self: center;
      button {
        color: white;
        @include GradiantBackground(rgb(151, 95, 230), rgb(158, 97, 158));
        border-radius: 90px;
      }
    }
  }
}
